<% current_page, current_subpage, title, subtitle = current_info request %>

<% content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.history.js' %>
  <%= javascript_include_tag 'libs/jquery.galleriffic.js' %>
  <%= javascript_include_tag 'libs/jquery.opacityrollover.js' %>
  <%= javascript_include_tag 'libs/sonic.js' %>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <% if defined? picsLocation %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'libs/gmaps.js' %>
  <script type="text/javascript">
  var picsLocation = <%= "\"#{picsLocation}\"" %>;
  </script>
  <% end %>
  <%= javascript_include_tag 'album.js' %>
<% end %>

<h1><%= subtitle %></h1>

<div id="controls"></div>
<div id="loading" class="row span12"></div>
<div id="slideshow"></div>
<div id="caption"></div>

<% captions ||= [] %>

<div id="thumbs">
  <ul class="thumbs noscript">
    <% basepath = "/images/#{current_page}/#{current_subpage}" %>
    <% (1..npics).each do |pic| %>
      <li>
        <a class="thumb" name="1" href="<%= "#{basepath}/#{pic}.jpg" %>" title="<%= captions[pic] %>">
          <img src="<%= "#{basepath}/thumbs/#{pic}.jpg" %>" alt="<%= captions[pic] %>" />
        </a>
        <div class="caption"><%= captions[pic] %></div>
      </li>
    <% end %>
  </ul>
</div>

<div id="picsextra" class="row">
  <% fbhref = "http://torri.co/#{current_page}/#{current_subpage}" %>
  <div id="fbcomments" class="span7">
    <div id="fb-root"></div>
    <div class="fb-like" data-href="<%= fbhref %>" data-send="true" data-width="540" data-show-faces="true" data-font="arial"></div>
    <div class="fb-comments" data-href="<%= fbhref %>" data-num-posts="2" data-width="540"></div>
  </div>
  <div id="picsmap" class="span5"></div>
</div>