<% current_page, current_subpage, title, subtitle = current_info request %>

<% content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.history.js' %>
  <%= javascript_include_tag 'libs/jquery.galleriffic.js' %>
  <%= javascript_include_tag 'libs/jquery.opacityrollover.js' %>
  <%= javascript_include_tag 'libs/sonic.js' %>
  <%= javascript_include_tag 'album.js' %>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>

<h1><%= subtitle %></h1>

<div id="controls"></div>
<div id="loading" class="row span12"></div>
<div id="slideshow"></div>
<div id="caption"></div>

<% captions ||= [] %>

<div id="thumbs">
  <ul class="thumbs noscript">
    <% basepath = "/images/#{current_page}/#{current_subpage}" %>
    <% (1..npics).each do |pic| %>
      <li>
        <a class="thumb" name="1" href="<%= "#{basepath}/#{pic}.jpg" %>" title="<%= captions[pic] %>">
          <img src="<%= "#{basepath}/thumbs/#{pic}.jpg" %>" alt="<%= captions[pic] %>" />
        </a>
        <div class="caption"><%= captions[pic] %></div>
      </li>
    <% end %>
  </ul>
</div>

<div class="fbcomments">
  <div id="fb-root"></div>
  <div class="fb-comments" data-href="<%= "http://torri.co/#{current_page}/#{current_subpage}" %>" data-num-posts="5" data-width="560"></div>
</div>