<% current_page, current_subpage, title, subtitle = current_info request %>

<% content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.history.js' %>
  <%= javascript_include_tag 'libs/jquery.galleriffic.js' %>
  <%= javascript_include_tag 'libs/jquery.opacityrollover.js' %>
  <%= javascript_include_tag 'libs/sonic.js' %>
  <%= javascript_include_tag 'album.js' %>
<% end %>

<h1><%= subtitle %></h1>

<div id="controls"></div>
<div id="loading" class="row span12"></div>
<div id="slideshow"></div>
<div id="caption"></div>

<% captions ||= [] %>

<div id="thumbs">
  <ul class="thumbs noscript">
    <% basepath = "/images/#{current_page}/#{current_subpage}" %>
    <% (1..npics).each do |pic| %>
      <li>
        <a class="thumb" name="1" href="<%= "#{basepath}/#{pic}.jpg" %>" title="<%= captions[pic] %>">
          <img src="<%= "#{basepath}/thumbs/#{pic}.jpg" %>" alt="<%= captions[pic] %>" />
        </a>
        <div class="caption"><%= captions[pic] %></div>
      </li>
    <% end %>
  </ul>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'lucastorri';
  var disqus_identifier = "<%= "/#{current_page}/#{current_subpage}" %>";
  var disqus_url = window.location.href.replace(/#.*/g, '');

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>