<%
  require 'babosa'
  def slug str
    str.to_s.to_slug.approximate_ascii.normalize.to_s
  end
  request.env["PATH_INFO"] =~ /([^\/|^\.]+)[\/]{0,1}([^\.]+){0,1}/
  current_page = $1 || data.pages.first
  current_subpage = $2
  subtitle = nil
  title = data.pages.find do |p|
    if p.is_a? Hash
      subtitle = p.values.first.find { |sp| slug(sp) == current_subpage }
      p = p.keys.first
    end
    slug(p) == current_page
  end
  title = title.keys.first if title.is_a? Hash
%>

<!DOCTYPE html>
<html>
<head>
  <title>Lucas Torri | <%= title %><%= " | #{subtitle}" if subtitle %></title>
  <meta name="author" content="Lucas Torri">

  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= stylesheet_link_tag 'site.css' %>
  
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Lucas Torri</a>
        <ul class="nav">
          <%
            data.pages.each do |page| 
              dropdown = page.is_a? Hash
              page_slug = slug(dropdown ? page.keys.first : page)
              active = (dropdown ? page.keys.first : page) == title
          %>
            <li class="<%= "active " if active %><%= "dropdown " if dropdown %>">
              <% if dropdown%>
                <a class="dropdown-toggle" data-toggle="dropdown"><%= page.keys.first %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% page.values.first.each do |subpage| %>
                    <% subpage_slug = slug(subpage) %>
                    <% if subpage == '--' %>
                      <li class="divider"></li>
                    <% else %>
                      <li class="<%= "active" if current_subpage == subpage_slug %>"><%= link_to subpage, "/#{page_slug}/#{subpage_slug}" %></li>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <%= link_to page, "/#{page_slug}" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="container contents">
    <%= yield %>
  </div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write(<%= "'#{js_escape_html(javascript_include_tag('libs/jquery-1.7.2.min.js'))}'" %>)</script>
  <%= javascript_include_tag 'libs/bootstrap-dropdown.js' %>

  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  </script>

</body>
</html>
