<% require 'babosa' %>
<%
  request.env["PATH_INFO"] =~ /([^\/]+)\.[\.\w]+$/
  current_page = $1 || data.pages.first
  title = data.pages.find do |p|
    p = p.keys.first if p.is_a? Hash
    p.to_s.to_slug.approximate_ascii.normalize.to_s == current_page
  end
%>

<!DOCTYPE html>
<head>
  <title>Lucas Torri - <%= title %></title>
  <meta name="author" content="Lucas Torri">

  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= stylesheet_link_tag 'site.css' %>
  
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Lucas Torri</a>
        <ul class="nav">
          <%
            data.pages.each do |page| 
              dropdown = page.is_a? Hash
              page_slug = (dropdown ? page.keys.first : page).to_s.to_slug.approximate_ascii.normalize.to_s
              active = page == title
          %>
            <li class="<%= "active " if active %><%= "dropdown " if dropdown %>">
              <% if dropdown%>
                <a class="dropdown-toggle" data-toggle="dropdown"><%= page.keys.first %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% page.values.first.each do |subpage| %>
                    <% subpage_slug = subpage.to_s.to_slug.approximate_ascii.normalize.to_s %>
                    <li><%= link_to subpage, "#{page_slug}/#{subpage_slug}" %></li>
                  <% end %>
                </div>
              <% else %>
                <%= link_to page, page_slug %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="container contents">
    <%= yield %>
  </div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write(<%= "'#{js_escape_html(javascript_include_tag('libs/jquery-1.7.2.min.js'))}'" %>)</script>
  <%= javascript_include_tag 'libs/bootstrap-dropdown.js' %>

  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

</body>
</html>
