<% require 'babosa' %>
<%
  request.env["PATH_INFO"] =~ /([^\/]+)\.[\.\w]+$/
  current_page = $1 || data.pages.first
  title = data.pages.find { |p| p.to_s.to_slug.approximate_ascii.normalize.to_s == current_page }
%>

<!DOCTYPE html>
<head>
  <title>Lucas Torri - <%= current_page %></title>
  <meta name="author" content="Lucas Torri">

  <%= stylesheet_link_tag 'bootstrap.css' %>
  
</head>

<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Lucas Torri</a>
        <ul class="nav">
          <%
            data.pages.each do |page| 
            page_slug = page.to_s.to_slug.approximate_ascii.normalize.to_s
          %>
            <li class="<%= page_slug %><%= " active" if page == title %>"><%= link_to page, page_slug %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="container">
    <%= yield %>
  </div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write(<%= "'#{js_escape_html(javascript_include_tag('libs/jquery-1.7.2.min.js'))}'" %>)</script>


  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

</body>
</html>
